<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="3px">
        <tr>
            <th>name</th>
            <th>reg</th>
            <th>college</th>
            <th>sub1</th>
            <th>sub2</th>
            <th>sub3</th>
            <th>Delete</th>
            <th>update</th>
        
        </tr>
        {% for i in q %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.reg}}</td>
            <td>{{i.college}}</td>
            <td>{{i.sub1}}</td>
            <td>{{i.sub2}}</td>
            <td>{{i.sub3}}</td>
            <td><a href="{% url 'delete' i.id %}">Delete</a></td>
            <td><a href="{% url 'update' i.id %}">Update</a></td>
            

        </tr>
        {% endfor %}
    </table>

</body>
</html>